.container {
	min-height: 80vh;
}

header {
	position: sticky;
	top: 0;
	z-index: 10;
}

.syllable {
	font-family: 'Manjari', sans;
	font-size: 1.2em;
	border: 1px solid steelblue;
	border-radius: 5px;
	background-color: ivory;
	padding: 5px;
	margin-right: 10px;
	display: inline-flex;
}

.phoneme {
	padding: 10px;
	margin: 5px;
}

.tag {
	background: #fff;
	border: 1px dotted;
	padding: 5px;
	margin: 5px;
	font-family: "Fira Code", monospace;
	font-size: 0.8em;
	color: #333;
}

.ipa,
.IPA {
	font-family: 'Gentium-Basic', serif;
	font-size: 1.2em;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

#syllable_results {
	margin-top: 20px;
	margin-bottom: 20px;
}
#analysis_results {
	margin-top: 20px;
	margin-bottom: 20px;
}

#ipa_results {
	margin-top: 20px;
	margin-bottom: 20px;
}
