.container {
	min-height: 80vh;
}

header {
	position: sticky;
	top: 0;
	z-index: 10;
}

.syllable {
	font-family: 'Manjari', sans;
	font-size: 1.2em;
	border: 1px solid steelblue;
	border-radius: 5px;
	background-color: ivory;
	padding: 5px;
	margin-right: 10px;
}

.IPAandTags{
	font-family: 'Gentium-Basic', serif;
	font-size: 1.2em;
}

.IPA{
	font-family: 'Gentium-Basic', serif;
	font-size: 1.2em;
}

#syllable_results {
	margin-top: 20px;
	margin-bottom: 20px;
}
#analysis_results {
	margin-top: 20px;
	margin-bottom: 20px;
}

#ipa_results {
	margin-top: 20px;
	margin-bottom: 20px;
}
